defaults
  timeout client 10s
  timeout connect 5s
  timeout server 10s 

frontend myfrontend
  bind 0.0.0.0:7777
  default_backend myservers

backend myservers
  server r0 172.18.0.5:6446
#  server r1 172.18.0.6:16446
